<!--
파일명 : product/list
작성자 : 정아름
작성일 : 24.03.06
수정사항 : 그리드 맞게 나왔는지 확인하기.
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>SalPick</title>
    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!-- google icon -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <style>
        body {
            font-family: Verdana, sans-serif;
            font-size: 15px;
        }

        h2 {
            font-family: "Nanum Pen Script", cursive;
            font-weight: 400;
            font-size: 50px;
            font-style: normal;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <!-- 여백 -->
        <div class="col-sm-3"></div>
        <!-- 상품 목록-->
        <div class="col-sm-6">
            <div class="container mt-5 mb-5">
                <h2>상품 목록</h2>
                <button type="button" class="btn btn-outline-success float-end"
                        th:onclick="|location.href='@{/product/insert}'|"
                        sec:authorize="hasRole('ADMIN')">
                    상품 등록
                </button>
                <div class="row" th:each="data:${list}">
                    <div class="card">
                        <div class="card-body">
                            <p>
                                <span th:text="${data.productImage}"></span>
                            </p>
                            <p>
                                <span th:text="${data.productName}"></span>
                            </p>
                            <p>
                                <span th:text="${data.productContent}"></span>
                            </p>
                            <p>
                                <span th:text="${data.productId}"></span>
                            </p>
                            <p>
                                <span th:text="${data.productPrice}"></span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <label class="form-label">수량 선택 :</label>
                            <select class="form-control" name="reviewScore">
                                <option value="1" th:selected="${data.quantity}">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <button type="button" class="btn btn-outline-warning"
                                    data-bs-toggle="modal" data-bs-target="#myModal"
                                    sec:authorize="hasAnyRole('USER', 'ADMIN')"
                                    th:onclick="|location.href='@{/cart/insert(id=${data.productId})}'|">
                                <span class="material-symbols-outlined">shopping_cart</span>
                            </button>
                        </div>
                    </div><br><br>
                </div>
            </div>
        </div>
        <!-- 여백 -->
        <div class="col-sm-3"></div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">장바구니</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                상품이 장바구니에 담겼습니다.<br>
                확인하러 가시겠습니까?
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">예</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">아니오</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>