
<!--
    파일명 : review/list
    작성자 : 정아름
    작성일 : 24.02.22
    수정사항 : 글씨체 적용함
              틀 수정해야 함, 배경 및 이미지, 아이콘 등 확인!
              좋아요, 싫어요 추가하기!
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>SalPick</title>
    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!-- google icon -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <style>
        body {
            font-family: Verdana, sans-serif;
            font-size: 15px;
        }

        h2 {
            font-family: "Nanum Pen Script", cursive;
            font-weight: 400;
            font-size: 50px;
            font-style: normal;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <!-- 여백 -->
        <div class="col-sm-3"></div>
        <!--구매후기 게시글 목록-->
        <div class="col-sm-6">
            <div class="container mt-5 mb-5">
                <h2>구매후기 게시판</h2>
                <button type="button" class="btn btn-outline-success float-end"
                        th:onclick="|location.href='@{/review/insert}'|">
                    게시글 등록
                </button>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>제목</th>
                        <th>평점</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                        <th>작업</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data:${list}">
                        <td th:text="${data.reviewId}">reviewId</td>
                        <td>
                            <a th:text="${data.reviewSubject}"
                               th:href="@{/review/detail(id=${data.reviewId})}">
                                reviewSubject
                            </a>
                        </td>
                        <td th:text="${data.reviewScore}">reviewScore</td>
                        <td th:text="${data.reviewWriter}">reviewWriter</td>
                        <td th:text="${#temporals.format(data.modDate, 'yyyy-MM-dd')}">
                        <td th:text="${data.reviewCount}">reviewCount</td>
                        <td>
                            <button type="button" class="btn btn-light btn-sm"
                                    th:onclick="|location.href='@{/review/update(id=${data.reviewId})}'|"
                                    sec:authorize="hasAnyRole('USER', 'ADMIN')">
                                수정
                            </button>
                            <button type="button" class="btn btn-light btn-sm"
                                    th:onclick="|location.href='@{/review/delete(id=${data.reviewId})}'|"
                                    sec:authorize="hasAnyRole('USER', 'ADMIN')">
                                삭제
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--페이지 번호-->
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item" th:unless="${startPage==1}">
                    <a class="page-link"
                       th:href="@{/board/list(page=1, type=${type}, keyword=${keyword})}">
                        <span class="material-symbols-outlined">chevron_left</span>
                    </a>
                </li>
                <li class="page-item" th:unless="${currentPage==1}">
                    <a class="page-link"
                       th:href="@{/board/list(page=${prevPage}, type=${type}, keyword=${keyword})}">
                        <span class="material-symbols-outlined">arrow_back_ios</span>
                    </a>
                </li>
                <span th:each="page:${#numbers.sequence(startPage, endPage, 1)}">
                    <li class="page-item active" th:class="${page==currentPage} ? 'active':''">
                    <a class="page-link" th:href="@{/list(page=${page}, type=${type}, keyword=${keyword})}"
                       th:text="${page}"> 1 </a>
                </li>
                </span>
                <li class="page-item" th:unless="${endPage==currentPage}">
                    <a class="page-link"
                       th:href="@{/board/list(page=${nextPage}, type=${type}, keyword=${keyword})}">
                        <span class="material-symbols-outlined">chevron_right</span>
                    </a>
                </li>
                <li class="page-item" th:unless="${endPage==lastPage}">
                    <a class="page-link"
                       th:href="@{/board/list(page=${lastPage}, type=${type}, keyword=${keyword})}">
                        <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 여백 -->
        <div class="col-sm-3"></div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /* 작업 성공했을 때 성공메세지 창을 출력 */
        var successMessage = /*[[ ${successMessage} ]]*/ null;
        if (successMessage) {
            alert(successMessage);
        }
    </script>
</th:block>
</body>
</html>